<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431163444381-bsf3ro2f2le5mrcge2f59dh9i85kunsc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431163444381-bsf3ro2f2le5mrcge2f59dh9i85kunsc</string>
	<key>API_KEY</key>
	<string>AIzaSyCJR4roE0Wpk80PdL-fTwEa0j71ARY-c2k</string>
	<key>GCM_SENDER_ID</key>
	<string>431163444381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mhsapp</string>
	<key>PROJECT_ID</key>
	<string>mhs-app-471ea</string>
	<key>STORAGE_BUCKET</key>
	<string>mhs-app-471ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431163444381:ios:eb780bec130fb23b931874</string>
</dict>
</plist>